@page "/counter"
@inject BlazorWebApp.Interfaces.ILodgingService lodgingService
@using BlazorWebApp.Models.Domain;
@using BlazorWebApp.Helpers; 

<h1>Lodgings</h1>

<button class="btn btn-primary" @onclick="Refresh">Refresh the data</button>

@if (Lodgings == null)
{
    <p>Loading</p>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>User Id</th>
            </tr>
        </thead>
        <tbody class="cursor-pointer">
            @foreach (var item in Lodgings)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.UserId</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Lodgings = await lodgingService.List();
            StateHasChanged();

        }
        await base.OnAfterRenderAsync(firstRender);
    }
    private int currentCount = 0;

    private async void Refresh()
    {
        Lodgings = await lodgingService.List();
    }
    public List<Lodging> Lodgings { get; set; }
}
